/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #AE7C78;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-small {
  max-width: 794px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Стили для header */

.header {
  position: relative;
  padding: 22px 0;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
  margin-top: 26px;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style-type: none;
}

.menu__item:nth-child(6n + 3) {
  margin-right: 97px;
}

.menu__link {
  color: #AE7C78;
  transition: .5s;
}

.menu__link:hover {
  opacity: 0.5;
}

.menu__link:active {
  opacity: 0.6;
}

.menu__link:focus {
  text-decoration: underline;
}

/* Стили для promo */

.promo {
  padding: 81px 0 30px;
}

.promo .container {
  display: flex;
}

.title {
  font-family: "Playfair Display", Arial, serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 36px;
}

.promo__content {
  max-width: 384px;
  margin-right: 23px;
}

.promo__title {
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  color: #AE7C78;
  margin: 0;
  margin-bottom: 24px;
}

.promo__title-sub {
  font-style: italic;
}

.promo__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 64px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 30px 70px;
  color: #FFFFFF;
  background-color: #D89999;
  border: 1px solid transparent;
  border-radius: 40px;
  transition: .5s;
}

.button:hover {
  background-color:#AE7C78;
}

.button:focus {
  color: #AE7C78;
  border: 1px solid #AE7C78;
  background-color: #FFFFFF;
}

.promo__image {
  border-radius: 10px;
  height: 100%;
  display: block;
}

.promo__image:nth-of-type(1) {
  margin-right: 20px;
  margin-top: 60px;
}

/* Стили для advantages */

.advantages {
  margin-bottom: 80px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4%;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}

.advantages__item {
  display: flex;
  align-items: flex-start;
}

.advantages__img {
  margin-right: 20px;
}

.advantages__text {
  margin: 0;
}

/* Стили для popular */

.popular {
  margin-bottom: 80px;
}

.popular__title {
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
}

.popular__slider-inner {
  display: flex;
}

.popular__slider-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.popular__slider-text,
.popular__slider-size {
  margin: 0;
  margin-bottom: 24px;
}

.popular__slider-price {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.popular__slider-description {
  max-width: 387px;
  margin-right: 20px;
  padding-top: 36px;
}

.slick-slider {
  padding-bottom: 20px;
}

.slider__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
}

.slider__arrow-left {
  left: 42%;
}

/* Стили для catalog */

.catalog__link {
  color: #FFFFFF;
}

.catalog__title {
  font-family: "Playfair Display", Arial, serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
}

.discount {
  background-color: #AE7C78;
}

.discout__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.discount__discription {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.news__title {
  margin-bottom: 40px;
}

.news__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.news__link svg path {
  fill: #D89999;
  transition: .3s;
}

.news__link svg path:hover {
  fill: #AE7C78;
}

.reviews__author {
  font-weight: 500;
  font-style: normal;
}

.contacts__text {
  font-weight: 500;
}

.contacts__link {
  color: #AE7C78;
  transition: .5s;
}

.contacts__link:hover {
  color: #D89999;
}

.footer {
  background-color: #AE7C78;
}

.footer__link {
  color: #FFFFFF;
  transition: .5s;
}

.footer__link:hover {
  opacity: 0.5;
}

.social__link svg path {
  fill: #FFFFFF;
  transition: .5s;
}

.social__link svg path:hover {
  opacity: 0.5;
}
